@import url(https://fonts.googleapis.com/css?family=Raleway);@import url(https://fonts.googleapis.com/css?family=Indie+Flower);body, html {
  padding: 0;
  margin: 0;
  font-size: 21px;
}

a {
  text-decoration: none;
  font-size: 0.8em;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

#modal-toggle {
  display: none;
}

.modal-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: none;
}

.modal-back {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: gray;
  opacity: 0.9;
  z-index: 1;
}

#create-form {
  width: 500px;
  height: 300px;
  background-color: red;
  z-index: 999;
}

#modal-toggle:checked ~ .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Raleway', sans-serif;
}

#main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 3px 5px #666666;
          box-shadow: 0 3px 5px #666666;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 999;
}

.header-title {
  color: white;
  position: absolute;
  font-family: 'Indie Flower', cursive;
  font-size: 56px;
  top: 160px;
  right: 160px;
}

#main-header {
  position: relative;
  background-color: #4a9baf;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.menu-container {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  padding: 4px;
  margin-left: 8px;
  position: relative;
}

.menu-item:hover a {
  color: #111111;
}

.menu-item:hover::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 10%;
  right: 0px;
  height: 3px;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, right top, from(#00e1eb), to(#ac30ba));
  background-image: linear-gradient(to right, #00e1eb, #ac30ba);
  -webkit-animation: fade 1s;
          animation: fade 1s;
  -webkit-transition: linear opacity 2s;
  transition: linear opacity 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 60px;
}

.logo {
  height: 50px;
  width: auto;
}

.menu-item {
  color: #666666;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  overflow: hidden;
  color: #222222;
}

.section .section-content {
  width: 60%;
  margin: 20px;
}

.section h1 {
  color: #406069;
}

.section:nth-child(2n) h1 {
  color: #ffffff;
}

.section:nth-child(2n) {
  background-image: -webkit-gradient(linear, left top, right top, from(#4b737e), color-stop(#4a9baf), to(#4b737e));
  background-image: linear-gradient(to right, #4b737e, #4a9baf, #4b737e);
}

#go-top {
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#00e1eb), to(#ac30ba));
  background-image: linear-gradient(to right, #00e1eb, #ac30ba);
  opacity: 0.8;
  visibility: hidden;
  cursor: pointer;
}

#go-top-arrow {
  width: 60%;
  height: 60%;
}

#cover-boy {
  position: absolute;
  max-width: 90%;
  left: 0px;
  bottom: 50px;
}

#cover-cloud1 {
  position: absolute;
  bottom: 0px;
  left: -90px;
  min-width: 100%;
  -webkit-animation: moveRight 5s infinite alternate ease-in-out;
          animation: moveRight 5s infinite alternate ease-in-out;
}

#cover-cloud2 {
  position: absolute;
  min-width: 100%;
  bottom: 0px;
  animation: moveRight 3s infinite alternate-reverse ease-in-out;
}

@-webkit-keyframes moveRight {
  to {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

@keyframes moveRight {
  to {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 42px;
  height: 42px;
  border: 2px solid #ffffff;
  background-size: 14px auto;
  border-radius: 50%;
}

.scroll-down:hover {
  background-color: crimson;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

#quote {
  background-image: url(../images/quote-image.jpg);
  background-attachment: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Indie Flower', cursive;
}

#quote .section-content {
  z-index: 2;
}

#quote::after {
  position: absolute;
  background-color: #ffffff;
  opacity: 0.5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: "";
}

.quote-text {
  margin: 0px;
  position: relative;
  font-size: 46px;
}

.quote-author {
  font-weight: bold;
  font-size: 28px;
  text-align: end;
  margin-top: 0px;
}

.quote-symbol {
  position: absolute;
  width: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -100px;
  left: -100px;
}

.quote-symbol-end {
  position: absolute;
  width: 100px;
  right: -100px;
  bottom: -100px;
  font-size: 72px;
}

.gallery-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-item {
  width: 30%;
  height: 200px;
  margin: 0 10px;
  overflow: hidden;
  background-color: steelblue;
}

.gallery-image {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
}

.galleries-button {
  padding: 10px;
  font-weight: bold;
  background-color: #bbbbbb;
}

#contact {
  display: block;
  color: white;
  background: #444444;
}

.contact-container {
  width: 500px;
  margin: 30px 60px;
  background: #555555;
  padding: 30px;
}

.contact-container .addr {
  margin-left: 30px;
  font-weight: bolder;
}

.social-container {
  display: block;
}

.social-item {
  display: inline-block;
  margin: 30px;
}

.social-icon {
  width: 30px;
  height: auto;
}

.whatsapp-mob {
  display: none;
}
