@import url(https://fonts.googleapis.com/css?family=Raleway);@import url(https://fonts.googleapis.com/css?family=Indie+Flower);body, html {
  padding: 0;
  margin: 0;
  font-size: 21px;
}

a {
  text-decoration: none;
  font-size: 0.8em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background: #f5f8fa;
  font-family: 'Raleway', sans-serif;
}

#main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 3px 5px #666666;
          box-shadow: 0 3px 5px #666666;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  top: 0;
  height: 100px;
  width: 100%;
}

.header-title {
  color: white;
  position: absolute;
  font-family: 'Indie Flower', cursive;
  font-size: 56px;
  top: 160px;
  right: 60px;
}

#main-header {
  position: relative;
  background-color: #4a9baf;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.menu-container {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  padding: 4px;
  margin-left: 8px;
  position: relative;
}

.menu-item:hover a {
  color: #111111;
}

.menu-item:hover::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 10%;
  right: 0px;
  height: 3px;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, right top, from(#00e1eb), to(#ac30ba));
  background-image: linear-gradient(to right, #00e1eb, #ac30ba);
  -webkit-animation: fade 1s;
          animation: fade 1s;
  -webkit-transition: linear opacity 2s;
  transition: linear opacity 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 60px;
}

.logo {
  height: 50px;
  width: auto;
}

a {
  color: #666666;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  color: #222222;
}

.section .section-content {
  width: 60%;
  margin: 20px;
}

.section h1 {
  color: #406069;
}

.section:nth-child(2n) h1 {
  color: #ffffff;
}

.section:nth-child(2n) {
  background-image: -webkit-gradient(linear, left top, right top, from(#4b737e), color-stop(#4a9baf), to(#4b737e));
  background-image: linear-gradient(to right, #4b737e, #4a9baf, #4b737e);
}

#quote {
  background-image: url(../images/quote-image.jpg);
  background-attachment: fixed;
}

#go-top {
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#00e1eb), to(#ac30ba));
  background-image: linear-gradient(to right, #00e1eb, #ac30ba);
  opacity: 0.8;
  visibility: hidden;
  cursor: pointer;
}

#go-top-arrow {
  width: 60%;
  height: 60%;
}

#cover-boy {
  position: absolute;
  left: 0px;
  bottom: 50px;
}

#cover-cloud1 {
  position: absolute;
  bottom: 0px;
  left: -90px;
  min-width: 100%;
  -webkit-animation: moveRight 6s infinite alternate cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: moveRight 6s infinite alternate cubic-bezier(0.165, 0.84, 0.44, 1);
}

#cover-cloud2 {
  position: absolute;
  min-width: 100%;
  bottom: 0px;
  animation: moveRight 3s infinite alternate-reverse;
}

@-webkit-keyframes moveRight {
  to {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

@keyframes moveRight {
  to {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 42px;
  height: 42px;
  border: 2px solid #ffffff;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
}

.scroll-down:hover {
  background-color: crimson;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}
