body,html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.galeria-create {
    display: inline-block;
    padding: 20px;
    background-color: brown;
}

.galeria-item{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: cyan;
}

.galeria-delete{

}

#modal-create {
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}

.modal-back{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 0.9;
    z-index: 1;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: gray;
    z-index: 2;
}

#toggle:checked ~ #modal-create{
    visibility: visible;
}
