
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "reset";

body{
    background: $body-bg;
}

#main-menu{
    background-color: red;
    height: 80px;
    width: 100%;
}

#main-header{
    background-color: peru;
    height: calc(100vh - 80px);
    width: 100%;
}

.menu-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-item{
    padding: 20px;
}