
//Colors
$color-1: #00e1eb;
$color-2: #ac30ba;

//Gradientes
$gradiente-1: linear-gradient(to right, $color-1 0%, $color-2 100%); 


$theme-colors: ("indigo": rgba(253,187,45,1));



@import "bootstrap/bootstrap.scss";