.section {
    padding-bottom: 80px;
}
.section-header {
    padding: 2rem;
    text-align: center;
}

.nav-main {
    background: $gradiente-1; 
}

.social-icon {
    width: 20px;
}

.logo {
    height: 70px;
}

.team-icon {
    width: 100%;
}